/*// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


div.container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: lightgreen;
  opacity: 0.85;
}

div.profile {
  width: 25%;
  display: inline-block;
  height: 45%;
}

div.row {
  display: inline-block;
  width: 100%;
}

div.all-users {
  float: left;
  border: 5px solid black;
  padding: 10px;
  width: 25%;
  margin: 2em;
}

.all-users p {
  display: inline-block;
  padding-right: 10px;
  width: 50px;
}

.all-users .user-buttons{
  margin-bottom: 10px;
}

div.hi-fives {
  float: left;
  border: 5px solid black;
  width: 43%;
  white-space: nowrap;
  padding-left: 2em;
}

div#new-form {
  float: left;
  padding: 0;
  padding-left: 3em;
  width: 25%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
